
<div class="container" id="main">
			<div class="row">	
				
				<h1>Eat Da Burger!!</h1>
				
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-md-4"></div>
				<div style="padding-left: 36px;" class="col-lg-4"><img class="img-responsive" src="assets/img/burger.png" width="200" height="200"></div>
				<div class="col-lg-4 col-md-4"></div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-md-6">
					<ul>
						{{#each burgers}}
							
							
							{{#if devoured}} 
							{{else}}
							<div class="row txtbtn">
								<span class="names">{{id}}.{{name}}</span>
								<button class="btn btn-warning change-devoured" data-id="{{id}}">Devour it!</button>
								
							</div>
							
							
							{{/if}}
							
						{{/each}}
					</ul>
				</div>
				<div class="col-lg-6 col-md-6">
					
						{{#each burgers}}	
							{{#if devoured}} 
								<span class="eaten">{{id}}.{{name}}<span> <br>
							{{else}}	
							{{/if}}	
						{{/each}}
					
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-3"></div>
				<div class="col-lg-5 col-lg-5">
					<form class="add-burger-form">

					  <div class="form-group">
					    ​<textarea id="txtArea" rows="10" cols="70"></textarea>
					  </div>

					  <button class="center-block btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
				<div class="col-lg-4 col-md-4"></div>
			</div>
		</div>

	
		

